Repository 0lione/gaphor, changes with the labels that .github/labeler.yml gives for each.
All labels: packaging, translation, documentation, chore, python, skip-changelog

.github/labeler.yml:

packaging:
  - _packaging/**/*
translation:
  - po/*
  - docs/locale/*
documentation:
  - docs/*.md
  - docs/*.rst
  - '*.md'
chore:
  - .flake8
python:
  - gaphor/**/*.py
skip-changelog:
  - .pre-commit-config.yaml
  - .all-contributorsrc

feat(colorPicker): Add logic
  gaphor/UML/classes/klass.py
  gaphor/core/modeling/stylesheet.py
  gaphor/diagram/presentation.py
  gaphor/diagram/tools/shortcut.py
Labels: python

fix(color_picker): Referecing by css node name instead of class name
  gaphor/UML/classes/klass.py
  gaphor/core/modeling/stylesheet.py
  gaphor/diagram/presentation.py
  gaphor/diagram/tools/shortcut.py
Labels: python

feat(color_picker): Add a button to open the style editor
  gaphor/diagram/propertypages.py
  gaphor/diagram/propertypages.ui
Labels: python

feat(color_picker): add a pop up window for the style editor
  gaphor/diagram/propertypages.py
  gaphor/diagram/styleeditor.ui
Labels: python

fix(color_picker): Simplify propertypages and externalize the Style Editor
  gaphor/diagram/propertypages.py
  gaphor/diagram/styleeditor.py
Labels: python

fix(color_picker): finally fix the non-deterministic problem
  gaphor/diagram/propertypages.py
  gaphor/diagram/styleeditor.py
Labels: python

feat(color_picker): now the frontend can communicate with the backend
  gaphor/diagram/propertypages.py
  gaphor/diagram/styleeditor.py
  gaphor/diagram/styleeditor.ui
Labels: python

fix(color_picker): Passing all tests
  gaphor/UML/classes/klass.py
  gaphor/core/modeling/presentation.py
  gaphor/diagram/presentation.py
  gaphor/diagram/tools/shortcut.py
  tests/test_architecture.py
Labels: python

refactor(color_picker): Simple functions in stylesheet
  gaphor/UML/classes/klass.py
  gaphor/core/modeling/presentation.py
  gaphor/core/modeling/stylesheet.py
  gaphor/diagram/presentation.py
Labels: python

feat(color_picker): add more style attributes
  gaphor/diagram/styleeditor.py
  gaphor/diagram/styleeditor.ui
Labels: python

refactor(color_picker): Simplify color_picker backend
  gaphor/UML/classes/klass.py
  gaphor/core/modeling/stylesheet.py
  gaphor/diagram/presentation.py
Labels: python

feat(color_picker): Add style elem method to objects
  gaphor/UML/classes/component.py
  gaphor/UML/classes/containment.py
  gaphor/UML/classes/interface.py
  gaphor/UML/classes/klass.py
  gaphor/UML/classes/package.py
  gaphor/core/modeling/stylesheet.py
  gaphor/diagram/presentation.py
Labels: python

fix(color_picker): Style editor now is deterministic
  gaphor/diagram/propertypages.py
Labels: python

fix(color_picker): Fix bug when loading a file with the stylesheet with values
  gaphor/core/modeling/stylesheet.py
  gaphor/diagram/presentation.py
Labels: python

fix(color_picker): Fix get style
  gaphor/core/modeling/stylesheet.py
  gaphor/diagram/presentation.py
Labels: python

feat(color_picker): Add default values for style_editor
  gaphor/diagram/styleeditor.py
Labels: python

feat(color_picker): Add support for all UML objects
  gaphor/UML/actions/action.py
  gaphor/UML/actions/activity.py
  gaphor/UML/actions/activitynodes.py
  gaphor/UML/actions/flow.py
  gaphor/UML/actions/objectnode.py
  gaphor/UML/actions/partition.py
  gaphor/UML/actions/pin.py
  gaphor/UML/classes/association.py
  gaphor/UML/classes/datatype.py
  gaphor/UML/classes/dependency.py
  gaphor/UML/classes/enumeration.py
  gaphor/UML/classes/generalization.py
  gaphor/UML/classes/interfacerealization.py
  gaphor/UML/classes/klass.py
  gaphor/UML/deployments/artifact.py
  gaphor/UML/deployments/node.py
  gaphor/UML/interactions/executionspecification.py
  gaphor/UML/interactions/interaction.py
  gaphor/UML/interactions/lifeline.py
  gaphor/UML/interactions/message.py
  gaphor/UML/profiles/extension.py
  gaphor/UML/profiles/packageimport.py
  gaphor/UML/states/finalstate.py
  gaphor/UML/states/pseudostates.py
  gaphor/UML/states/state.py
  gaphor/UML/states/statemachine.py
  gaphor/UML/states/transition.py
  gaphor/UML/usecases/actor.py
  gaphor/UML/usecases/extend.py
  gaphor/UML/usecases/include.py
  gaphor/UML/usecases/usecase.py
  gaphor/core/modeling/presentation.py
  gaphor/core/modeling/stylesheet.py
  gaphor/diagram/general/comment.py
  gaphor/diagram/general/commentline.py
  gaphor/diagram/general/metadata.py
  gaphor/diagram/general/picture.py
  gaphor/diagram/general/simpleitem.py
  gaphor/diagram/presentation.py
Labels: python

fix(color_picker): Default values are not re-written now
  gaphor/diagram/styleeditor.py
Labels: python

fix(color_picker): Fix translate to stylesheet
  gaphor/core/modeling/stylesheet.py
Labels: python

fix(color_picker): Remove useless feature
  gaphor/core/modeling/stylesheet.py
Labels: python

fix(color_picker): Remove prints
  gaphor/core/modeling/stylesheet.py
Labels: python

feat(color_picker): Add a button to export style editor to style sheet
  gaphor/diagram/styleeditor.py
  gaphor/diagram/styleeditor.ui
Labels: python

fix(color_picker): Fix when saving and reopening
  gaphor/core/modeling/stylesheet.py
  gaphor/diagram/presentation.py
Labels: python

feat(color_picker): Add simple test for the property pages
  gaphor/diagram/tests/test_propertypages.py
Labels: python

fix(color_picker): Bug when reopening and handle element deleted
  gaphor/core/modeling/presentation.py
  gaphor/core/modeling/stylesheet.py
  gaphor/diagram/presentation.py
  gaphor/ui/modelbrowser.py
Labels: python

tests(color_picker): NEEDS FIXING
  gaphor/diagram/tests/test_styleeditor.py
Labels: python

tests(color_picker): NEEDS FIXING
  gaphor/diagram/tests/test_styleeditor.py
Labels: python

big_thing(color_picker): fix bug and add tests
  gaphor/diagram/styleeditor.py
  gaphor/diagram/tests/test_styleeditor.py
Labels: python

test(color_picker): Add remove_elem, change_name and export tests
  gaphor/core/modeling/stylesheet.py
  gaphor/diagram/tests/test_styleeditor.py
  gaphor/ui/diagrampage.py
  gaphor/ui/modelbrowser.py
Labels: python

test(color_picker): Guarantee that the created windows are not hanging after testing
  gaphor/diagram/tests/test_styleeditor.py
Labels: python

fix(color_picker): Run black and pre-commit
  gaphor/core/modeling/presentation.py
  gaphor/core/modeling/stylesheet.py
  gaphor/diagram/presentation.py
Labels: python

Adding instructions for anaconda install
  docs/anaconda.md
  docs/index.rst
Labels: documentation

Moved anaconda install under "Windows"
  docs/anaconda.md
  docs/index.rst
  docs/windows.md
Labels: documentation

chore: control hypothesis settings
  tests/test_model_consistency.py
Labels: none

chore: remove commented out old command
  tests/test_model_consistency.py
Labels: none

fix: extend timeout
  tests/test_model_consistency.py
Labels: none

Update Spanish translation for Gaphor
  po/es.po
Labels: translation

Remove Hypothesis status banner
  README.md
Labels: documentation

Run Hypothesis tests on a weekly schedule
  .github/workflows/hypothesis-test.yml
Labels: none

Remove unused test models
  test-models/all-elements-v2.5.gaphor
  test-models/codegen-extension.gaphor
  test-models/dbus.gaphor
  test-models/decision-fork-nodes.gaphor
  test-models/information-flow.gaphor
  test-models/interaction.gaphor
  test-models/stereotypes.gaphor
Labels: none
