Repository 0lione/gaphor, changes with the labels that .github/labeler.yml gives for each.
All labels: packaging, translation, dependencies, documentation, chore, python

Fix auto-layouting test case name
  tests/test_auto_layouting.py
Labels: none

Reduce number of examples
  tests/conftest.py
Labels: none

Fix dash style for requirement dependencies
  gaphor/diagram.css
Labels: none

Test only for model consistency
  .github/workflows/hypothesis-test.yml
Labels: chore

Deal with edge case when there's a tab, but no view yet
  gaphor/ui/diagrams.py
Labels: none

Rename test classes for consistency
  tests/test_auto_layouting.py
  tests/test_model_consistency.py
Labels: none

Fix invalid placeholders in translations
  po/es.po
Labels: translation

Drop ModelLoaded event
  gaphor/application.py
  gaphor/core/modeling/elementfactory.py
  gaphor/core/modeling/event.py
  gaphor/core/modeling/tests/test_elementfactory.py
  gaphor/event.py
  gaphor/services/properties.py
  gaphor/services/tests/test_properties.py
  gaphor/services/undomanager.py
  gaphor/storage/storage.py
  gaphor/tests/test_application.py
  gaphor/ui/elementeditor.py
  gaphor/ui/filemanager.py
  gaphor/ui/mainwindow.py
  gaphor/ui/modelchanged.py
  gaphor/ui/modelmerge/editor.py
  gaphor/ui/recentfiles.py
  gaphor/ui/tests/test_modelbrowser.py
  gaphor/ui/tests/test_recentfiles.py
  tests/run_with_merge_conflict.py
Labels: none

Adding instructions for anaconda install
  docs/anaconda.md
  docs/index.rst
Labels: documentation

Moved anaconda install under "Windows"
  docs/anaconda.md
  docs/index.rst
  docs/windows.md
Labels: documentation

chore: remove commented out old command
  tests/test_model_consistency.py
Labels: none

chore: control hypothesis settings
  tests/test_model_consistency.py
Labels: none

fix: extend timeout
  tests/test_model_consistency.py
Labels: none

Update Spanish translation for Gaphor
  po/es.po
Labels: translation

Remove Hypothesis status banner
  README.md
Labels: documentation

Run Hypothesis tests on a weekly schedule
  .github/workflows/hypothesis-test.yml
Labels: chore

Remove unused test models
  test-models/all-elements-v2.5.gaphor
  test-models/codegen-extension.gaphor
  test-models/dbus.gaphor
  test-models/decision-fork-nodes.gaphor
  test-models/information-flow.gaphor
  test-models/interaction.gaphor
  test-models/stereotypes.gaphor
Labels: none

Reduce number of examples
  tests/conftest.py
Labels: none

Fix auto-layouting test case name
  tests/test_auto_layouting.py
Labels: none

Fix dash style for requirement dependencies
  gaphor/diagram.css
Labels: none

Test only for model consistency
  .github/workflows/hypothesis-test.yml
Labels: chore

Rename test classes for consistency
  tests/test_auto_layouting.py
  tests/test_model_consistency.py
Labels: none

Deal with edge case when there's a tab, but no view yet
  gaphor/ui/diagrams.py
Labels: none

Fix invalid placeholders in translations
  po/es.po
Labels: translation

Drop ModelLoaded event
  gaphor/application.py
  gaphor/core/modeling/elementfactory.py
  gaphor/core/modeling/event.py
  gaphor/core/modeling/tests/test_elementfactory.py
  gaphor/event.py
  gaphor/services/properties.py
  gaphor/services/tests/test_properties.py
  gaphor/services/undomanager.py
  gaphor/storage/storage.py
  gaphor/tests/test_application.py
  gaphor/ui/elementeditor.py
  gaphor/ui/filemanager.py
  gaphor/ui/mainwindow.py
  gaphor/ui/modelchanged.py
  gaphor/ui/modelmerge/editor.py
  gaphor/ui/recentfiles.py
  gaphor/ui/tests/test_modelbrowser.py
  gaphor/ui/tests/test_recentfiles.py
  tests/run_with_merge_conflict.py
Labels: none

.github/labeler.yml:

packaging:
  - _packaging/**/*
translation:
  - po/*
dependencies:
  - poetry.lock
documentation:
  - docs/**/*
  - '*.md'
chore:
  - .github/**/*
  - .flake8
  - pyproject.toml
python:
  - '*.py'
